$color-master: #FFFFFF;
$color-sec: #000000;
$color-thir: #FFA782;
$color-four: #F5D105;
$color-fiv: #559AC8;
$color-six: #8A82CC;
$color-sev: rgba(255, 255, 255,0.70);
$color-eigh: rgba(0,0,0,0.20);




$fontsize-xxl: 40px;
$fontsize-xl: 36px;
$fontsize-l: 18px;
$fontsize-m: 16px;
$fontsize-s: 14px;


