// Footer Setting
.footer{
    
    text-align: center;
    .container{
        padding: 20px;
        background: $color-fiv;
    }
    a{
        margin-bottom: 15px;
        text-decoration: none;
        color: $color-sev;
        padding: 2px 5px;
        border-radius: 5px;
        &:hover{
            background: $color-four;
            color:$color-fiv;
        }
    }
}


.gitHubLink,.dataFrom{
    margin: 15px;
}
