// Header Setting

.banner{
    background: url(../../img/the-urban-landscape-1698285.png);
    height: 380px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.header{
    .container{
        padding-top: 90px; 
    }
    h1{
        font-size: $fontsize-xxl;
        text-align: center;
        width: 100%;
        a{
            text-decoration: none;
            color: $color-master;
            display: inline-block;
            padding: 10px 20px;
            border-radius: 30px;
        }
    }
}

.areaSelectPosition{
    position: relative;
    width: 452px;
    margin: 0 auto;
    margin-top:100px;
    .caretDownStyle{
        @include pointer;
        position: absolute;
        top: 7px;
        right: 10px;
        font-size: $fontsize-xl;
    }
    &:hover > .caretDownStyle{
        color: $color-master;
    }
    .areaSelect{
        @include boxSizing;
        @include pointer;
        appearance: none;
        font-size: $fontsize-l;
        height: 48px;
        width: 452px;
        background: $color-sev;
        border: 3px solid $color-master;
        border-radius: 3px;
        padding: 0 10px;
        transition-property: background-color, color;
        transition-duration: .3s;
        option{
            appearance: none;
        }
        &:hover{
            background: none;
            color: $color-master;
        }
    }
    @include phone500(){
        width: 300px;
        .areaSelect{
            width: 300px;
        }
    }
}


.popularArea{
    width: 700px;
    @include boxSizing;
    margin: 0 auto;
    background: $color-master;
    margin-top: 100px;
    box-shadow: 0 1px 3px 0 $color-eigh;
    border-radius: 5px;
    padding: 20px 26px;
    p{
        text-align: center;
    }
    ul{
        width: 660px;
        @include boxSizing;
        margin: 0 auto;
    }
    li{
        display: inline;
        a{
            display: inline-block;
            transition: box-shadow .3s;
            text-decoration-line: none;
            width: 130px;
            height: 42px;
            @include boxSizing;
            border-radius: 5px;
            margin: 15px;
            padding: 11px 0;
            text-align: center;
            color: $color-master;
        }
        a:hover{
            box-shadow: 0 4px 3px 0 $color-eigh;
        }
        .popularArea1{
            background: $color-six;
        }
        .popularArea2{
            background: $color-thir;
        }
        .popularArea3{
            background: $color-four;
        }
        .popularArea4{
            background: $color-fiv;
        }
    }
    @include ipad700(){
        width: 480px;
        padding: 10px 10px;
        margin: 0 auto;
        margin-top: 50px;
        ul{
            width: 400px;
            margin-top: 10px;
            a{
                margin: 10px;
                width: 175px;
            }
        }
    }
    @include phone500(){
        width: 320px;
        ul{
            width: 320px;
            a{
                width: 130px;
                margin: 6px;
            }
        }
    }
}

.borderLinePosition{
    transition: all .3s;
    height: 20px;
    width: 90%;
    margin: 0 auto ;
    margin-top: 100px;
    position: relative;
    .caretDownStyle{
        @include boxSizing;
        border: 2px solid $color-fiv;
        border-radius: 10px; 
        height: 20px;
        width: 20px;
        padding: 1px 3px;
        color: $color-fiv;
        background: $color-master;
        text-align: center;
        position: absolute;
        top: -8px;
        left: 50%;
    }
    .borderLine{
        border-top: 1px dashed $color-fiv;
    }
    @include phone500(){
        margin-top: 50px;
    }
}
